@{
    ViewData["Title"] = "Verify Current Password";
}

<h2 class="mb-3">Verify Current Password</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<form asp-action="ChangePassword"  method="post">
    <div class="form-group">
        <label for="oldPassword"> Enter Current Password</label>
        <input type="password" name="oldPassword" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Verify</button>
</form>